
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-Black: hsl(0, 0%, 8%);
    --fw-400: 400;
    --fw-600: 600;
    --fw-600: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}